# Elements compilés Java
*.class
*.jar
*.war
*.ear
bin/
build/
target/

# Configurations d'IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers en plus
TODO